@import url("https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@400;700&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Long+Cang&family=Montserrat:wght@400;700&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Long Cang", cursive;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(13, 13, 13);
  color: rgb(255, 255, 255);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  padding: 20px 20px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: top 200ms ease-in-out;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}
.blog-navbar {
  padding-right: 20px;
  border-left: 4px solid rgb(188, 212, 7);
}
.navbar a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  display: inline-flex;
}
.contacts {
  padding-right: 8px;
}
.navbar a:hover {
  color: rgb(188, 212, 7);
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 70px 10%;
}
.content {
  max-width: 600px;
}
.content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(235, 235, 255);
}
.content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  color: white;
}
span {
  color: rgb(188, 212, 7);
}
.content p {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(183, 183, 183);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.image-conteiner {
  right: 10rem;
  width: 31rem;
  height: 32rem;
  border-radius: 50%;
  overflow: hidden;
}
.image-conteiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
.about-me {
  font-size: 2rem;
  padding-right: 20px;
  padding-left: 20px;
  width: 50%;
}
.div-about-me {
  display: block;
}
.header-aboutme {
  font-size: 60px;
  padding-bottom: 10px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.p-aboutme {
  font-size: 40px;
  color: rgb(188, 212, 7);
}
.input-name {
  background-color: rgb(118, 118, 118);
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
  height: 45px;
  width: 300px;
}
::placeholder {
  color: #000000;
}
.input-email {
  background-color: rgb(128, 125, 125);
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  width: 320px;
  font-size: 20px;
}
.input-subject {
  background-color: rgb(128, 125, 125);
  font-size: 20px;
  cursor: pointer;
  width: 315px;
  height: 35px;
  border: 2px solid rgb(0, 0, 0);
  width: 635px;
  height: 38px;
  font-size: 20px;
}
.button-send-message {
  background-color: #c5ff05;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #000000;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 12em;
  height: 4em;
}
.button-send-message:hover {
  background-color: #506108;
  transform: scale(1.05);
}
.textarea {
  background-color: rgb(128, 125, 125);
  margin-top: 15px;
  cursor: pointer;
  width: 635px;
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
}
.upper-contact {
  padding-left: 50px;
  display: flex;
}
.footer-contact {
  padding-left: 50px;
  padding-top: 40px;
  display: grid;
  margin-top: -20px;
}
.messageme {
  padding-left: 2.5em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}
.portfolio-section {
  background-color: #000000;
}
#mail {
  text-decoration: none;
  color: rgb(188, 212, 7);
}
#mail:hover {
  background-color: #c5ff05;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #000000;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}
.img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
.imgproject:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.img {
  border-radius: 30%;
  margin-bottom: 100px;
}
.header-hardskills {
  font-size: 38px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}
.image-box {
  margin: 10px;
  padding: 5px;
  background-color: rgb(63, 63, 63);
}
.blog-title-top {
  margin-top: 4%;
  text-align: center;
  font-family: "Rubik Scribble", system-ui;
  font-size: 85px;
}
.blog-title-p {
  text-align: center;
  font-family: "Rubik Scribble", system-ui;
  font-size: 18px;
}
.first-photo {
  float: left;
  height: 400px;
  margin: 0px 0px 20px 30px;
}
.first-opis {
  border: 2px solid rgb(0, 0, 0);
  font-size: 34px;
  background-color: rgb(95, 93, 93);
  height: 300px;
  color: black;
  margin: 30px;
  margin-left: 340px;
  font-family: "Long Cang", cursive;
  padding-top: 30px;
  text-align: center;
  float: right;
  position: fixed;
}
#skills-section {
  color: white;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.skill-information {
  padding: 2rem;
  text-align: center;
}
.skill-name {
  margin: 0;
  padding: 10px;
  font-size: 1.6rem;
}
.skill-information progress {
  background-color: white;
  border: 1px solid white;
}
.skill-information progress::-webkit-progress-value {
  border-radius: 0;
  background-color: white;
}
.skill-information progress::-webkit-progress-bar {
  background-color: black;
}
.heading {
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.copyright {
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding: 10px;
}
.icons {
  padding: 15px;
}
.iconss {
  color: white;
}
#facebook:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}
#instagram:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
#github:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}
#linkedin:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}
.contact-form-input {
  padding: 0.5em 0.5em;
  margin-bottom: 2em;
  font-size: 1.1rem;
  border: none;
  background-color: #161616;
  color: #f0f0f0;
  box-sizing: border-box;
  margin-left: 8rem;
  width: 20rem;
  width: 50%;
}
.contact-textarea {
  margin-left: 8rem;
  padding: 0.5em 0.5em;
  margin-bottom: 2em;
  font-size: 1.1rem;
  border: none;
  background-color: #161616;
  color: #f0f0f0;
  box-sizing: border-box;
  width: 50%;
  min-height: 6rem;
}
#button {
  background-color: #161616;
  color: #f0f0f0;
  width: 13em;
  height: 8em;
  border: 2px solid black;
  border-radius: 10%;
  margin-bottom: 7rem;
}
#button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.right-left {
  display: flex;
}
::placeholder {
  color: white;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}
.contact-info-freelance {
  color: bisque;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.name-contact-info {
  font-size: 1.3rem;
  text-decoration: none;
  color: aliceblue;
  padding-top: 1rem;
}
.contactinfo-side {
  font-size: 2rem;
}
.email {
  font-size: 1.1rem;
}
.name {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
