@import url("https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:wght@400;700&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Long+Cang&family=Montserrat:wght@400;700&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Long Cang", cursive;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(13, 13, 13);
  color: rgb(255, 255, 255);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  padding: 20px 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 200ms ease-in-out;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}
.header--up {
  top: -4.5rem;
}

.mylogo {
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}
.blog-navbar {
  padding-right: 20px;
  border-left: 4px solid rgb(188, 212, 7);
}

.navbar a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  display: inline-flex;
}
.contacts {
  padding-right: 8px;
}

.navbar a:hover {
  color: rgb(188, 212, 7);
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 70px 10%;
}

.content {
  max-width: 600px;
}
.content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(235, 235, 255);
}
.content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  color: white;
}
span {
  color: rgb(188, 212, 7);
}
.content p {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(183, 183, 183);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.image-conteiner {
  position: absolute;
  top: 18%;
  right: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.image-conteiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hardskills {
  display: inline;
}
html {
  scroll-behavior: smooth;
}
.about-me {
  font-size: 28px;
  padding: 20px 250px 20px 250px;
}
.div-about-me {
  display: block;
}

.header-aboutme {
  font-size: 60px;
  padding-bottom: 10px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.span-aboutme {
  font-size: 24px;
  padding-left: 415px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-bottom: 2200px;
}
.p-aboutme {
  font-size: 40px;
  color: rgb(188, 212, 7);
}
.hardskills {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.copyright {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: start;
  font-size: 12px;
}

.input-name {
  background-color: rgb(118, 118, 118);
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
  height: 45px;
  width: 300px;
}
::placeholder {
  color: #000000;
}
.input-email {
  background-color: rgb(128, 125, 125);
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  width: 320px;
  font-size: 20px;
}
.input-subject {
  background-color: rgb(128, 125, 125);
  font-size: 20px;
  cursor: pointer;
  width: 315px;
  height: 35px;
  border: 2px solid rgb(0, 0, 0);
  width: 635px;
  height: 38px;
  font-size: 20px;
}
.button-send-message {
  background-color: #c5ff05;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #000000;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
}
.button-send-message:hover {
  background-color: #506108;
  transform: scale(1.05);
}

.textarea {
  background-color: rgb(128, 125, 125);
  margin-top: 15px;
  cursor: pointer;
  width: 635px;
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
}
.upper-contact {
  padding-left: 50px;
  display: flex;
}

.footer-contact {
  padding-left: 50px;
  padding-top: 40px;
  display: grid;
  margin-top: -20px;
}

.messageme {
  padding-left: 60px;
  font-size: 30px;
}
.contact-panelinfo {
  display: contents;
}
.portfolio-section {
  background-color: #000000;
}

.asidepanel {
  float: right;
  margin-right: 150px;
  border: 1.5px solid yellow;
}

.contactinfo {
  font-size: 45px;
  text-align: center;
  margin-top: -250px;
}
.paragrafcontactinfo {
  font-size: smaller;
}

.span-contact-info {
  padding-top: 20px;
  font-size: 20px;
  padding-left: 10px;
}

.spanname {
  font-size: 24px;
}

#mail {
  text-decoration: none;
  color: rgb(188, 212, 7);
}
#mail:hover {
  background-color: #c5ff05;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #000000;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}

.img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
.imgproject:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.img {
  border-radius: 30%;
  margin-bottom: 100px;
}
.header-hardskills {
  font-size: 38px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}

.image-box {
  margin: 10px;
  padding: 5px;
  background-color: rgb(63, 63, 63);
}

.blog-title-top {
  margin-top: 4%;
  text-align: center;
  font-family: "Rubik Scribble", system-ui;
  font-size: 85px;
}
.blog-title-p {
  text-align: center;
  font-family: "Rubik Scribble", system-ui;
  font-size: 18px;
}

.first-photo {
  float: left;
  height: 400px;
  margin: 0px 0px 20px 30px;
}

.first-opis {
  border: 2px solid rgb(0, 0, 0);
  font-size: 34px;
  background-color: rgb(95, 93, 93);
  height: 300px;
  color: black;
  margin: 30px;
  margin-left: 340px;
  font-family: "Long Cang", cursive;
  padding-top: 30px;
  text-align: center;
  float: right;
  position: fixed;
}
